.lp-skills {
    margin-top: 5rem;
}
.skills-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}
.skills-main {
    margin-top: 2rem;
    display: flex;
}
.skills-image {
    width: 30%;
}
@media (max-width : 480px) {
.skills-image{
    display: none;
}
.skills-box {
    width: 90vw;
    justify-content: center;
}
}